@model NATURALLIFE.Models.MUCLINK

@{
    ViewBag.Title = "SUBBODYEDIT";
    Layout = "~/Views/Shared/_Webmaster.cshtml";
}


@using (Html.BeginForm("SUBBODYEDIT", "Webmaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)


    <section id="main-content">
        <section class="wrapper">
            <!-- BASIC FORM ELELEMNTS -->
            <div class="col-lg-6">
                <div class="content-panel">
                    <h4><i class="fa fa-dashboard"></i>Chỉnh Sửa Nội Dung Liên Hệ</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                <tr>
                                    <td class="col-lg-2">PHONE</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">LINK FACEBOOK</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.LINKFB, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LINKFB, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">LINK PRINTEST</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.LINKPRIN, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LINKPRIN, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">LINK EMAIL</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">LINK TWITTER</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.LINKTWI, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LINKTWI, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">TITLE FOOTER</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.LINKINS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LINKINS, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">LINK YOUTUBE</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.LINKYB, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LINKYB, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">LINK LINKEDIN</td>
                                    <td class="col-lg-10">
                                        @Html.EditorFor(model => model.LINKINK, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LINKINK, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-theme start">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>Save</span>
                        </button>
                        <button type="button" class="btn btn-theme04 delete">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                            <span>@Html.ActionLink("BACK", "SUBBODYVIEW")</span>
                        </button>
                    </section>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /row -->
            <!-- /row -->
        </section>
        <!-- /wrapper -->
    </section>
}


